.upcoming-events{
    width: 100vw;
    background-image: url(../assets/img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include center;
    padding-bottom: 25px;
    &__content{
        margin-left: 5%;
        margin-right: 5%;
        @include flex;
        flex-wrap: wrap;
        max-width: 1920px;
        &__top{
            width: 100%;
            &__subtitle{
                color: white;
            }
            &__title{
                color: white;
            }
        }
        &__subtitle{
            color: #ffffff;
        }
        &__title{
            color: #ffffff;
        }
        &__line{
            width: 1px;
            height: 380px;
            opacity: 0.15;
            background-color: #ffffff;
            margin-left: 24px;
            margin-right: 24px;
            padding-top: 50px;
            padding-bottom: 50px;
            @include mobile-w{
                display: none;
            }
            @include mobile{
                display: none;
            }
                    }
                }
    

}
.event-box{
    width: 250px;
padding-top: 50px;
padding-bottom: 140px;
@include laptop{
    width: 20%;
}
@include tablet{
    width: 18%;
}
@include mobile-w{
    width: 45%;
    padding-top: 20px;
    padding-bottom: 40px;
}
@include mobile{
    width: 45%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding: 3px;
}
    &__date{
        width: 110px;
        height: 110px;
        border-radius: 2px;
        background-color: #ffffff;
        @include center;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 23px;
        @include mobile{
            width: 80%;
            font-size: 11px;
            margin-top: 10px;
        }

        &__numb{
            font-family: Marcellus;
            font-size: 36px;
            color: $red;
            text-align: center;
            @include mobile{
                font-size: 26px;
            }
        }
        &__day{
            @include silver-text;
            line-height: 2.14;
            text-align: center;
            color: #595959;
        }
    }
    &__day{
        @include silver-text;
        line-height: 2.14;
        text-align: center;
        color: #ffffff;
        margin-bottom: 10px;
    }
    &__title{
            font-family: Marcellus;
            font-size: 24px;
            line-height: 1.33;
            text-align: center;
            color: #ffffff;
            width: 180px;
            margin: auto;
            margin-bottom: 20px;
            @include tablet{
                font-size: 19px;
                width: 100%;
            }
            @include mobile-w{
                font-size: 19px;
                width: 100%;
            }   
            @include mobile{
                font-size: 19px;
                width: 100%;
                font-size: 13px;
            }
    }
    &__prise{
        @include silver-text;
        line-height: 2.14;
        text-align: center;
        color: #ffffff;
        margin-bottom: 17px;
    }
}






