@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@font-face {
	font-family: 'Gotham';
	src: url('fonts/GothamMedium.eot');
	src: local('☺'), url('../assets/fonts/GothamMedium.woff') format('woff'), url('../assets/fonts/GothamMedium.ttf') format('truetype'), url('../assets/fonts/GothamMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('fonts/GothamBold.eot');
	src: local('☺'), url('../assets/fonts/GothamBold.woff') format('woff'), url('../assets/fonts/GothamBold.ttf') format('truetype'), url('../assets/fonts/GothamBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}