.what-we-do{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.section__header{
    width: 100%;
}
.left{
    margin-right: 68px;
}
.section__header__line{
        width: 100px;
        height: 1px;
        
        margin: auto;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    .section__header__title{
        font-size: 44px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.5;
        letter-spacing: normal;
        text-align: center;
        
        text-transform: uppercase;
        margin-bottom: 100px;
    }

.what-we-do-content{
    // width: 100%;
    display: inline-flex;
    flex-wrap: wrap;

    &__header{
        width: 100%;
        &__line{
            width: 100px;
            height: 1px;
            background-color: #2c4058;
            margin: auto;
            margin-bottom: 46px;
            margin-top: 67px;
        }
        &__title{
            font-size: 44px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.5;
            letter-spacing: normal;
            text-align: center;
            color: #2c4058;
            text-transform: uppercase;
            margin-bottom: 106px;
        }
    }
    

    &__left{
        width: 46.7%;
        display: flex;
        position: relative;
       
        
        
        &__shadow{
            width: 585px;
            height: 470px;
            background-color: #55b7ff;
            position: absolute;
            left: -215px;
            z-index: -1;
            
        }
        &__img{
            margin-top: 70px;
            margin-bottom: 138px;
        }
        &__bottom-shadow{
            right: -257px;
            width: 585px;
                height: 470px;
                background-color: #7e5aff;
                position: absolute;
           
            
                z-index: -1;
        }
    }
   &__right{
        width: 50%;
        
    }
    &__bottom-left{
        margin-top: 123px;
        display: block;
    }
    &__bottom-right{
        margin-top: 0px; 
        position: relative; 
    }
   
}
.what-we-do-content__rigth__button:hover{
    color: #ffffff;
    background-color: #2c4058;; 
}
.absolut{
    position: absolute;
    
    
}


.what-we-do-content__rigth{
    width: 47%;
    
    padding: 69px;
    padding-left: 89px;
    padding-top: 126px;
    &__subtitle{
        font-size: 22px;
        font-weight: normal;
        color: #2c4058;
        margin-bottom: 17px;
        text-transform: uppercase;
    }
    &__title{
        font-size: 44px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.55;
        letter-spacing: normal;
        text-align: left;
        color: #2c4058;
        margin-bottom: 34px;
        text-transform: uppercase;
    }
    &__text{
        width: 460px;
        height: 78px;
        font-family: OpenSans;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #4b5562;
        margin-bottom: 43px;
        
       
    }
    
    .display-none{
       padding: 0px;
    }
    .display-block{
        display: block;
    }
    &__text2{
        display: none;
        width: 460px;
        
        font-family: OpenSans;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #4b5562;
        margin-bottom: 43px;
    }
   &__button{
         width: 190px;
  height: 50px;
  border: solid 1px #2c4058;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #2c4058;
  margin-bottom: 53px;

  &__button:hover{
    color: #ffffff;
    background-color: #2c4058;; 
  }
 
   }
   &__location{
    height: 18px;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #2c4058;
    
   }
   
}