*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    width: 1500px;
    height: 866px;
    background-image: url(./image/bg.jpg);
}
body{
    display: flex;
    justify-content: center;
}
footer{
    width: 1500px;
    height: 90px;
    background-color: #262626;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
}
.title h1{
  
  font-family: Raleway;
  font-size: 90px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  
  letter-spacing: normal;
  text-align: center;
  color: #262626;
  padding-top: 85px;
}
.title p{
    width: 344px;
    
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    
    letter-spacing: normal;
    text-align: center;
    color: #262626;
    margin-top: 48px;
}
.title div{
    display: flex;
    justify-content: center;
}
.form{
    height: 445px;
    width: 500px;
    
}
.center{
    width: 1170px;
    
    display: flex;
}
.center_block{
    display: flex;
    justify-content: center;
    margin-top: 46px;
}
.adress{
    width: 317px;
    height: 160px;
    margin-left: 170px;
}
.data{
    width: 500px;
    height: 50px;
    opacity: 0.5;
    background-color: #00c4c4;
    margin-bottom: 15px;
}
.messge{
    width: 500px;
    height: 250px;
    opacity: 0.5;
    background-color: #00c4c4;
}
.data::-webkit-input-placeholder{
    font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
}
.messge::-webkit-input-placeholder{
    font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;  
}
input:focus{
    opacity: unset;
    border-left: 5px solid #355b82;
    outline: none;
    font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 10px;
   
}
input{
    opacity: unset;
    border-left: 5px solid #355b82;
    outline: none;
    font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 10px;
}
   
.messge:focus{
    opacity: unset;
    border-left: 5px solid #355b82;
    outline: none;
    font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
 padding-left: 10px;
 
   
}
.messge{

    outline: none;
    font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
 padding-left: 10px;
 
   
}
textarea[placeholder]{
    padding-top: 20px;
}
.bold{
    
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #262626;
}
.small{
    
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #262626; 
    margin-bottom: 11px; 
}
.company{
 
 vertical-align:centre;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #b9b9b9;
  margin: auto 0 auto 0;
}
.logo{
    font-family: Pacifico;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #b9b9b9;
    margin: auto;
}
.avtor{
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #b9b9b9;
    margin: auto 0 auto 0;
}
footer span{
    font-weight: bold;
  color: #ff2b58;
}
input[type="text"]{
    font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-left: 20px;
}
input{
    border: none;
}
.messge{
    margin-top: 20px;
}
    
button{
    width: 100px;
    height: 50px;
    opacity: 0.5;
    background-color: #00c4c4;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 7px;
    color: white;
    font-size: 20px;
}
button:hover{
    background-color: white;
    color: teal;

}
.homework{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: violet;
    color: white;
    font-size: 20px;
    position: fixed;
    text-align: center;
    padding-top: 6px;font-weight: 800;
    text-decoration: none;
}