html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body_conteyner {
  display: flex;
  justify-content: center;
}

section {
  width: 876px;
  height: 627px;
  background-image: url(../image/bg.jpg);
}

.header {
  display: flex;
}
.header__logo {
  padding-top: 26px;
  margin-left: 66px;
  width: 20%;
}

.navigation__list {
  display: flex;
  margin-top: 32px;
  margin-left: 164px;
}
.navigation__list__string {
  margin-right: 48px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.navigation__list__string__line {
  height: 4px;
}
.navigation__list__string:hover {
  border-bottom: 1px solid #ffffff;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.content__bg2 {
  margin: auto;
  width: 804px;
  height: 407px;
  background-color: rgba(250, 250, 250, 0.4);
  display: flex;
  justify-content: center;
}
.content__bg2__bg3 {
  background-color: rgba(250, 250, 250, 0.4);
  display: flex;
  justify-content: center;
  width: 778px;
  height: 407px;
}

.content_box {
  width: 750px;
  height: 428px;
  background-color: white;
}