html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  justify-content: center;
}

main {
  background-color: #d0d0d2;
  width: 800px;
  height: 600px;
  background-image: url(../image/bg-line.png), url(../image/bg-pixel1.png), url(../image/bg-pixel2.png);
  display: flex;
  justify-content: center;
}

.content_box {
  margin: auto;
  width: 680px;
  height: 400px;
  background-color: #152335;
  border-radius: 10px;
}
.content_box__logo img {
  margin-top: 25px;
  margin-left: 25px;
}
.content_box__conteyner {
  display: flex;
}

.content_box_conteyner__shoes {
  width: 50%;
}
.content_box_conteyner__shoes img {
  margin-top: 64px;
  margin-left: 36px;
}

.content_box_conteyner__info_box ul .l1 h1 {
  font-family: MuseoSansRounded;
  font-size: 24px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: 0.48px;
  text-align: left;
  color: #e7e7e7;
}

.content_box_conteyner {
  display: flex;
}