body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;


}
main{
    background: rgba(241, 112, 92, 0.808), url(./image/bg_2.jpg);;
background: -moz-linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(47,33,169,0.8) 0%, rgba(200,116,217,0.51) 100%), url(./image/bg_2.jpg);;
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(47,33,169,0.8)), color-stop(100%, rgba(200,116,217,0.51)));
background: -webkit-linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(47,33,169,1) 0%, rgba(200,116,217,0.51) 100%),url(./image/bg_2.jpg);;
background: -o-linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(47,33,169,1) 0%, rgba(200,116,217,0.51) 100%),url(./image/bg_2.jpg);;
background: -ms-linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(47,33,169,1) 0%, rgba(200,116,217,0.51) 100%),url(./image/bg_2.jpg);
background: linear-gradient(45deg, rgba(241,111,92,1) 0%, rgba(47,33,169,1) 0%, rgba(200,116,217,0.51) 100%),url(./image/bg_2.jpg);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#c874d9', GradientType=1 );
width: 400px;
height: 496px;

}
nav .botton{
   
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #e1c2f1;
    margin-right: 26px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    

    
}


nav{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 22px;
    height: 62px;
    
}




.data{
    padding-left: 70px;
    padding-right: 70px;
}
input{
    width: 261px;
  height: 42px;
  border: solid 2px rgba(191, 185, 204, 0.54);
  background-color: rgba(0, 125, 215, 0);
  margin-bottom: 18px;
  margin-top: 11px;
}
label{
  margin-right: 33px;
  height: 12px;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e1c2f1;
  margin-bottom: 11px;
}



form button{
margin: 0px 70px 0px 70px;
width: 261px;
  height: 42px;
  background-color: #23ae92;
  border: none;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  color: #fbf6e4;

}
footer p{
    font-family: Quicksand;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #b9b9cc;
    border-bottom: 1px solid #96c1da ;
    cursor: pointer;

    
  }
footer{
    display: flex;
    padding: 0px 70px 0px 70px;

}
.pass_link{
    margin-right: 33px;
    
}

.data div input{
    display: none;
}
form button{
    margin-top: 15px;
}
.data div{
    display: flex;
}
.data div span{
    display: block;
    width: 10px;
    height: 10px;
    background-color:#23AE92 ;
    margin-right: 7px;
    margin-top: 3px;
    position: relative;
}

.data div label::before{
    content: '\2713';
    position: absolute;
    left:-18px;
    top: -4px;
    display: none;
}

input[type="checkbox"]:checked + ::before{
    display: block;
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: #23AE92 solid 2px;
}
input[type="text"], input[type="password"]{
    color: white;
    font-size: 15px;
}
.checkb{
    position: relative;
}

.botton{
 display: none;
}

input[type="radio"]:checked + label{
    border-bottom: 2px solid #e66a64;
    color: #fbf6e4;
    padding-bottom: 14px;
    font-weight: 400;
}
